In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data_train=pd.read_csv("/content/Train.csv",index_col=0)

In [3]:
data_train.head()

       EmpName LanguageOfCommunication  ...  BiasInfluentialFactor FitmentPercent
EmpID                                   ...
11041     John                 English  ...       YearsOfExperince          95.40
15079  William                 English  ...                    NaN          67.09
18638    James                 English  ...                 Gender          91.26
3941   Charles                 English  ...                 Gender          72.29
5936    George                 English  ...           DegreeBranch          86.34

[5 rows x 21 columns]

In [4]:
data_train.shape

(13645, 21)

In [5]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13645 entries, 11041 to 4668
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmpName                  13645 non-null  object
 1   LanguageOfCommunication  13645 non-null  object
 2   Age                      13645 non-null  int64
 3   Gender                   13645 non-null  object
 4   JobProfileIDApplyingFor  13645 non-null  object
 5   HighestDegree            13645 non-null  object
 6   DegreeBranch             13645 non-null  object
 7   GraduatingInstitute      13645 non-null  object
 8   LatestDegreeCGPA         13645 non-null  int64
 9   YearsOfExperince         13645 non-null  int64
 10  GraduationYear           13645 non-null  int64
 11  CurrentCTC               13645 non-null  int64
 12  ExpectedCTC              13645 non-null  int64
 13  MartialStatus            13645 non-null  object
 14  EmpScore                 13645 non-null  int64
 15  CurrentDesignation       13645 non-null  object
 16  CurrentCompanyType       13645 non-null  object
 17  DepartmentInCompany      13645 non-null  object
 18  TotalLeavesTaken         13645 non-null  int64
 19  BiasInfluentialFactor    10309 non-null  object
 20  FitmentPercent           13645 non-null  float64
dtypes: float64(1), int64(8), object(12)
memory usage: 2.3+ MB

In [6]:
data_train.isnull().sum()

EmpName                       0
LanguageOfCommunication       0
Age                           0
Gender                        0
JobProfileIDApplyingFor       0
HighestDegree                 0
DegreeBranch                  0
GraduatingInstitute           0
LatestDegreeCGPA              0
YearsOfExperince              0
GraduationYear                0
CurrentCTC                    0
ExpectedCTC                   0
MartialStatus                 0
EmpScore                      0
CurrentDesignation            0
CurrentCompanyType            0
DepartmentInCompany           0
TotalLeavesTaken              0
BiasInfluentialFactor      3336
FitmentPercent                0
dtype: int64

In [7]:
data_train=data_train.drop("EmpName",axis=1)

In [8]:
data_train.columns

Index(['LanguageOfCommunication', 'Age', 'Gender', 'JobProfileIDApplyingFor',
       'HighestDegree', 'DegreeBranch', 'GraduatingInstitute',
       'LatestDegreeCGPA', 'YearsOfExperince', 'GraduationYear', 'CurrentCTC',
       'ExpectedCTC', 'MartialStatus', 'EmpScore', 'CurrentDesignation',
       'CurrentCompanyType', 'DepartmentInCompany', 'TotalLeavesTaken',
       'BiasInfluentialFactor', 'FitmentPercent'],
      dtype='object')

In [9]:
features=['LanguageOfCommunication', 'Age', 'Gender', 'JobProfileIDApplyingFor',
       'HighestDegree', 'DegreeBranch', 'GraduatingInstitute',
       'LatestDegreeCGPA', 'YearsOfExperince', 'GraduationYear', 'CurrentCTC',
       'ExpectedCTC', 'MartialStatus', 'EmpScore', 'CurrentDesignation',
       'CurrentCompanyType', 'DepartmentInCompany', 'TotalLeavesTaken']

In [10]:
x=data_train.loc[:,features]
y=data_train.FitmentPercent

In [11]:
x_object=x.select_dtypes(include="object")
x_other=x.select_dtypes(exclude="object")

In [12]:
x_other.head()

       Age  LatestDegreeCGPA  ...  EmpScore  TotalLeavesTaken
EmpID                         ...
11041   35                 7  ...         5                20
15079   26                 7  ...         5                 6
18638   36                 6  ...         5                19
3941    29                 5  ...         5                16
5936    25                 8  ...         5                10

[5 rows x 8 columns]

In [13]:
from sklearn import preprocessing

In [14]:
x_object=x_object.apply(preprocessing.LabelEncoder().fit_transform)

In [15]:
X=pd.concat([x_object,x_other],axis=1)

In [16]:
X.head()

       LanguageOfCommunication  Gender  ...  EmpScore  TotalLeavesTaken
EmpID                                   ...
11041                        0       1  ...         5                20
15079                        0       1  ...         5                 6
18638                        0       0  ...         5                19
3941                         0       0  ...         5                16
5936                         0       1  ...         5                10

[5 rows x 18 columns]

In [17]:
y.head()

EmpID
11041    95.40
15079    67.09
18638    91.26
3941     72.29
5936     86.34
Name: FitmentPercent, dtype: float64

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [19]:
rf_regr=RandomForestRegressor(max_depth=5,random_state=0)

In [20]:
rf_regr.fit(X,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [21]:
score1=rf_regr.score(X,y)
score1

0.6504709760052619

In [22]:
data_train["BiasInfluentialFactor"]=data_train.BiasInfluentialFactor.fillna(" ")

In [23]:
data_train["BiasInfluentialFactor"].isnull().sum()

0

In [24]:
data_train.BiasInfluentialFactor.unique()

array(['YearsOfExperince', ' ', 'Gender', 'DegreeBranch',
       'CurrentCompanyType', 'MartialStatus', 'HighestDegree', 'EmpScore',
       'Ethinicity', 'LatestDegreeCGPA'], dtype=object)

In [25]:
data_train["BiasInfluentialFactor"]=data_train.BiasInfluentialFactor.map({'YearsOfExperince':1, 
                                                                          ' ':0, 
                                                                          'Gender':2,
                                                                          'DegreeBranch':3,
       'CurrentCompanyType':4, 'MartialStatus':5, 'HighestDegree':6, 'EmpScore':7,
       'Ethinicity':8, 'LatestDegreeCGPA':9})

In [26]:
y1=data_train.BiasInfluentialFactor

In [27]:
y1.head()

EmpID
11041    1
15079    0
18638    2
3941     2
5936     3
Name: BiasInfluentialFactor, dtype: int64

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf_clf=RandomForestClassifier(max_depth=4,random_state=0)

In [29]:
rf_clf.fit(X,y1)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [30]:
score2=rf_clf.score(X,y1)
score2

0.6

In [31]:
data_test=pd.read_csv("/content/Test.csv",index_col=0)

In [32]:
data_test.head()

       EmpName LanguageOfCommunication  ...  DepartmentInCompany TotalLeavesTaken
EmpID                                   ...
5664      Theo                  Native  ...              Finance               18
23568   Vernie                 English  ...          Engineering                8
21490  Wendell                 English  ...          Engineering               18
8363      West                   Hindi  ...              Product               17
6165    Alford                   Hindi  ...          Engineering                9

[5 rows x 19 columns]

In [33]:
data_test=data_test.drop("EmpName",axis=1)

In [34]:
data_test=data_test.apply(preprocessing.LabelEncoder().fit_transform)

In [35]:
data_test.head()

       LanguageOfCommunication  Age  ...  DepartmentInCompany  TotalLeavesTaken
EmpID                                ...
5664                         2   11  ...                    3                14
23568                        0   11  ...                    2                 4
21490                        0    4  ...                    2                14
8363                         1   13  ...                    4                13
6165                         1   12  ...                    2                 5

[5 rows x 18 columns]

In [36]:
prediction1=rf_regr.predict(data_test)
prediction1

array([57.44644047, 54.94387358, 57.26363157, ..., 57.21059514,
       57.19731729, 57.22600902])

In [37]:
prediction2=rf_clf.predict(data_test)
prediction2

array([0, 0, 0, ..., 0, 0, 0])

In [38]:
submission1=pd.DataFrame(prediction1,index=data_test.index,columns=["FitmentPercent"])

In [39]:
submission2=pd.DataFrame(prediction2,index=data_test.index,columns=["BiasInfluentialFactor"])

In [40]:
submission=pd.merge(submission2,submission1,on="EmpID",how="inner")

In [41]:
submission.head()

       BiasInfluentialFactor  FitmentPercent
EmpID
5664                       0       57.446440
23568                      0       54.943874
21490                      0       57.263632
8363                       0       56.653630
6165                       0       55.905071

In [42]:
submission.shape

(8745, 2)

In [43]:
submission.BiasInfluentialFactor=submission.BiasInfluentialFactor.map({1:'YearsOfExperince', 
                                                 0:' ', 
                                                 2:'Gender',
                                                 3:'DegreeBranch',
       4:'CurrentCompanyType',5:'MartialStatus',6:'HighestDegree',7:'EmpScore',
       8:'Ethinicity', 9:'LatestDegreeCGPA'})

In [44]:
submission.head()

      BiasInfluentialFactor  FitmentPercent
EmpID
5664                              57.446440
23568                             54.943874
21490                             57.263632
8363                              56.653630
6165                              55.905071

In [57]:
submission.to_csv("/content/submission1")